.fade-box {
    width: 200px;
    height: 100px;
    background-color: coral;
    animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
