@using Vocab.State
@inject AppState AppState
@inject NavigationManager NavigationManager

<header>
    <nav class="d-flex align-items-center px-2 m-0 bg-opacity-10 bg-secondary">
        @if (AppState.SheetId != null)
        {
            <button class="fs-2 navigation btn btn-sm btn-default m-1" @onclick="Home" title="Home.">
                <ion-icon name="Home" />
            </button>
            <button class="fs-2 navigation btn btn-sm btn-default m-1" @onclick="Flip" title="Flip translations.">
                <i class="oi oi-loop"></i> Flip
            </button>
        }

        <h1 class="display-2 text-primary mx-auto">Vocab</h1>
       @if(AppState.SheetId != null){
            <Stats />
       }
    </nav>
</header>


@code {

    protected override void OnInitialized()
    {
        AppState.OnSetSheetId += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnSetSheetId -= StateHasChanged;
    }

    public void Home()
    {
        AppState.Reset();
        NavigationManager.NavigateTo("/");

    }

    public void Flip()
    {
        AppState.Flip();
        AppState.ReSetGuesses();
        StateHasChanged();
    }
}