

<div class="cards d-flex flex-wrap justify-content-center">
    @if (MultipleChoiceSets.Count > 0)
    {
        @for (int i = 0; i < MultipleChoiceSets.Count; i++)
        {
           <Card Id="i" MultipleChoices="MultipleChoiceSets[i]" OnCorrect="OnCorrect"></Card>
        }

    }

</div>
