@using Models;
@inject AppState AppState

<div class="cards d-flex flex-wrap justify-content-center">
    @if (Data.Count > 0)
    {
        @for (int i = 0; i < Data.Count; i++)
        {
           <Card Id="i" MultipleChoices="Data[i]" OnCorrect="OnCorrect"></Card>
        }

    }

</div>
