@page "/vocab";
@inject HttpClient Http
@inject AppState AppState
@using Models;

<h1 class="mt-5 text-center">Vocab</h1>
<Cards Words="@WordSet"></Cards>
<div class="d-flex justify-content-center mt-5">
    <button class="btn btn-lg btn-primary" @onclick="Reshuffle">Re-Shuffle</button>
</div>




@code{

    private List<BasicWord> Words = new List<BasicWord>();
    private List<BasicWord> WordSet = new List<BasicWord>();
    int correctCount = 0;
    protected override async Task OnInitializedAsync()
    {
        Words = await Http.GetFromJsonAsync<List<BasicWord>>("sample-data/spanish.json");

        AppState.SetWords(Words);
        WordSet = AppState.GetWordSet();
    }


    private void Reshuffle()
    {
        //Get the remaining non correct
    }
}