@page "/";
@using Vocab.Components
@using Vocab.Models
@using Vocab.State
@inject IJSRuntime JS
@inject AppState AppState



<h1 class="text-center  p-0 m-0 vocab-title">Vocab</h1>

@if (AppState.SheetId == null)
{
    <GoogleSheetForm />
}
else
{
    <Cards />
}



@code{
    private bool _isInitialized = true;
    protected override async Task OnInitializedAsync()
    {
        //AppState.OnSetSheetId += HandleSetSheetId;
        await AppState.InitializeAsync();
        _isInitialized = true;

    }   
}