.card {
    position: relative;
    perspective: 500px;
    width: 16rem ;
    height: 10rem;
 
}

.card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    opacity:1;
    transform-style: preserve-3d;
}

.card-is-flipped .card-body {
    animation: flip-card 0.5s ease-in .2s forwards;
}


.card-is-resetting .card-body {
    animation: reset-card 0.5s ease-in forwards;
}

.card-is-unflipped .card-body{
    animation: unflip-card 0.5s ease-in forwards;
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-front{
    border-width:.2rem !important;
    transition: border 0.5s ease-in;
}

.card-back {
    transform: rotateY(180deg);
    background-color: orange;
    color: white;
}
