@using Models;
@inject AppState AppState

<div class="cards">
    @if (Words.Count > 0)
    {
        @for (int i = 0; i < Words.Count; i++)
        {
            <Card Id="i" Word="Words[i]" OnCorrect="OnCorrect"></Card>
        }

    }

</div>

@code {

    [Parameter]
    public List<BasicWord> Words { get; set; }

    private static Random random = new Random();

    public void OnCorrect(int index)
    {
        AppState.Words[index].IsGuessed = true;
        int nextIndex = -1;
        BasicWord nextWord = new BasicWord();
        var notGuessed = AppState.Words.Where(w => !w.IsGuessed).ToList();


        nextIndex = random.Next(notGuessed.Count);
        nextWord = notGuessed[nextIndex];


        Words[index] = nextWord;

    }
}
