@inject AppState AppState



@if (AppState.SheetId != null)
{
    <button class="navigation btn btn-sm btn-default m-1" @onclick="Home" title="Home.">
        <i class="oi oi-home"></i>
    </button>
    <button class="navigation btn btn-sm btn-default m-1" @onclick="Flip" title="Flip translations.">
        <i class="oi oi-loop"></i>
    </button> 
}


@code {

    protected override async void OnInitialized()
    {
        AppState.OnSetSheetId += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnSetSheetId -= StateHasChanged;
    }

    public void Home()
    {
        AppState.Reset();
    }

    public void Flip()
    {
        AppState.Flip();
        AppState.ReSetGuesses();
    }
}
