@inject AppState AppState
@implements IDisposable

@if (AppState.Words != null)
{
    <div class="stats mr-2" title="Correct Responses">
        <span class="oi oi-check text-success"></span> 
        <span>:</span>
        <span>@AppState.GuessedCorrectlyCount</span>
        <span>/</span>
        <span>@AppState.Words.Count</span>
    </div>
}


@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}
